/** =========================================== **/
/** Body Start **/
/** =========================================== **/

/** Body **/
body{
	margin: 0;
	padding: 0;
	color: white;
	font-family: 'Quicksand', sans-serif;
	background-image: url(files/bg.jpg);
	-webkit-background-size:cover;
	background-size: cover;
	background-position: center center;
	background-repeat: no-repeat;
	text-align: center;
}

/** =========================================== **/
/** Navbar Start **/
/** =========================================== **/

/** Navbar **/
#topnav{
	margin-top: 15px;
	background: rgba(47, 54, 64,0.5);
	height: 50px;
}

/** Navbar Logo **/
h1.logo{
	float: left;
	height: 50px;
	margin: 0px 50px;
}

/** Navbar Logo **/
h1.logo p{
	font-size: 60px;
	height: 50px;
	letter-spacing: 2px;
	font-family: 'Cute Font', cursive;
	margin: -12.5px 0px;
}

/** Navbar Logo Hover **/
h1.logo:hover{
	cursor: pointer;
}

/** Navbar Menu **/
.menu{
	float: left;
	height: 50px;
	margin: 0;
	padding: 0;
	list-style-type: none;
	font-size: 20px;
	font-family: 'Staatliches', cursive;
	letter-spacing: 1px;
}

/** Navbar Menu Items **/
.menu > li{
	display: inline-block;
	padding: 13px 10px 10px;
	margin: 0px 10px;
}

/** Navbar Menu Items Text **/
.menu a{
	color:#fff;
	text-decoration: none;
}

/** Navbar Menu Items Text Hover **/
.menu li:hover{
	background-color: rgba(149, 165, 166, 0.25);
	border-bottom: 2px solid #8c7ae6;
	transition: 1.5s;
	border-radius: 8px;
}

/** Navbar Text Active - Html Class **/
.menu li.active {
    background: rgba(149, 165, 166, 0.2);
    border-bottom: 2px solid #8c7ae6;
    border-radius: 6px;
}

/** Navbar clock**/
#clock{
	float: right;
	font-family: 'Staatliches', cursive;
	margin-right: 100px;
	width: 110px;
	height: 50px;
}

/** Navbar clock Ico**/
#clock i{
	float: left;
	font-size: 25px;
	margin: 12.5px 5px;
	width: 25px;
}

/** Navbar clock Text**/
#clocktimer{
	float: left;
	font-size: 20px;
	margin: 12.5px 0px;
	letter-spacing: 2px;
	width: 75px;
	}

/** =========================================== **/
/** Showcase Start **/
/** =========================================== **/

/** Showcase **/
#showcase{
	width: 1800px;
	height: 550px;
	margin: 80px auto;

}

/** Showcase Logo **/
#showcase h1{
	font-size: 32px;
	font-family: 'Staatliches', cursive;
	letter-spacing: 2px;
	border-bottom: 2px solid #8c7ae6;
	width: 300px;
	margin: 4px auto;
	height: 42px;
	text-align: center;
}

/** Showcase box padding**/
.pion{
	height: 30px;
	width: 0px;
}

/** Showcase box **/
.project{
	width: 560px;
	height: 400px;
	float: left;
	margin: 20px;
	background-color: rgba(53, 59, 72,0.3);
	border-radius: 25px;

}

/** Showcase box image **/
.projectimg{
	width: 140px;
	height: 140px;
	float:left;
	margin-left: 75px;
}

/** Showcase box image **/
.projectimg i{
	font-size: 90px;
	margin: 25px auto;
}

.projecthead{
	height: 110px;
	width: 250px;
	margin-right: 75px;
	padding:0px 10px;
	font-family: 'Staatliches', cursive;
	float: left;
	font-size: 30px;
	margin-top: 30px;
}

.projecthead p{
	margin: 0;
	height: 110px;
}

/** =========================================== **/
/** Contact Start **/
/** =========================================== **/

/** Contact **/
#contact{
	width: 1050px;
	height: 150px;
	margin: 100px auto 10px auto;
	text-align: justify;
}

/** Contact Logo **/
#contact h1{
	text-align: center;
	font-size: 32px;
	font-family: 'Staatliches', cursive;
	letter-spacing: 2px;
	border-bottom: 2px solid #8c7ae6;
	width: 130px;
	margin: 0px auto 18px;
	height: 42px;
}

/** Contact box **/
.cbox{
	height: 78px;
	width: 310px;
	float: left;
	margin: 0px 20px;
	background-color: rgba(189, 195, 199,0.05);
	color: white;
	transition: 2s;
	border-radius: 15px;
}

/** Contact box hover **/
.cbox:hover{
	transform: scale(1.1);
	background-color: rgba(47, 54, 64,0.4);
	border-bottom: 2px solid #8c7ae6;
}

/** Contact Ico box **/
.ico3{
	height: 78px;
	width: 80px;
	float: left;
	font-size: 40px;
}

/** Contact Ico text **/
.ico3 i{
	padding-top: 18px;
	padding-left: 20px;
}

/** Contact Text box **/
.text3{
	width: 230px;
	height: 78px;
	float: left;
}

/** Contact Box Main Text **/
.text3 h4{
	height: 30px;
	font-size: 24px;
	margin: 15px 0 0 0;
	font-family: 'Staatliches', cursive;
	letter-spacing: 2px;
}

/** Contact Text **/
.text3 p{
	font-size: 14px;
	margin: 0;
	height: 25px;
	margin: 0 0 10px 0;
}

/** =========================================== **/
/** Footer Start **/
/** =========================================== **/

/** Footer Box **/
#footer{
	height: 20px;
	text-align: center;
	font-size: 16px;
	background-color: rgba(189, 195, 199,0.02);
	font-family: 'Staatliches', cursive;
	letter-spacing: 1px;
}

/** Footer setting **/
#footer a{
	text-decoration: none;
	color: white;
}

/** Footer setting **/
#footer a:hover{
	color: #8c7ae6;
	cursor: pointer;
	transition: 0.5s;
}


.offer{
	padding: 0;
	list-style-type: none;
	font-size: 18px;
	height: 240px;
	width: 260px;
	margin: 10px auto;
	line-height: 200%;
	cursor: pointer;
 }

.offer a{
	text-decoration: none;
	display: block;
}

.offer > li{
	width: 260px;
	height: 40px;
	background-color: rgba(149, 165, 166, 0.2);
	border-radius: 15px;
}

.offer > li:hover{
	border-bottom: 2px solid #8c7ae6;
}

.offer > li > ul{
	list-style-type: none;
	padding: 6px 0px;
	margin: 0 auto;
	height: 40px;
	width: 240px;
	display: none;
}

.offer > li:hover > ul{
	display: block;
}

.offer > li:hover > ul > li:last-child{
	border-radius: 0 0 15px 15px;
}

.offer > li > ul > li{
	background-color: rgba(149, 165, 166, 0.25);
}

.offer > li > ul > li:hover
{
	background-color: rgba(140,122,230,0.5);
}

.offer > li > ul > li:hover > a
{
	color: white;
}

.offer > li > ul > li > a
{
	color: white;
}

.neon{
	position: relative;
	overflow: hidden;
	transition: 0.2s;
	border-radius: 25px;
}

.neon span{
	position: absolute;
}

.neon:hover span:nth-child(1){
	animation-name: neon1;
  	animation-duration: 6s;
  	animation-iteration-count: infinite;
  	animation-delay: 0s;
}

.neon:hover span:nth-child(3){
	animation-name: neon3;
  	animation-duration: 6s;
  	animation-iteration-count: infinite;
  	animation-delay: 0s;
}

.neon:hover span:nth-child(2){
	animation-name: neon2;
  	animation-duration: 6s;
  	animation-iteration-count: infinite;
  	animation-delay: 2s;
}

.neon:hover span:nth-child(4){
	animation-name: neon4;
  	animation-duration: 6s;
  	animation-iteration-count: infinite;
  	animation-delay: 2s;
}

@keyframes neon4 {
  from {
  	bottom: -100%;
	left: 0;
	width: 2px;
	height: 100%;
	background: linear-gradient(360deg,transparent,rgba(140,122,230,0.45));
	}
  to {
  	bottom: 100%;
	transition: 4s;
	}
}

@keyframes neon3 {
  from {
  	bottom: 0;
	right: -100%;
	width: 100%;
	height: 2px;
	background: linear-gradient(270deg,transparent,rgba(140,122,230,0.45));
	}
  to {
  	right: 100%;
	transition: 4s;
	}
}

@keyframes neon2 {
  from {
  	top: -100%;
	right: 0;
	width: 2px;
	height: 100%;
	background: linear-gradient(180deg,transparent,rgba(140,122,230,0.45));
	}
  to {
  	top: 100%;
	transition: 4s;
	}
}

@keyframes neon1 {
  from {
  	top: 0;
	left: -100%;
	width: 100%;
	height: 2px;
	background: linear-gradient(90deg,transparent,rgba(140,122,230,0.45));
	}
  to {
  	left: 100%;
	transition: 4s;
	}
}