/** =========================================== **/
/** Body Start **/
/** =========================================== **/

/** Body **/
body{
	margin: 0;
	font-family: 'Quicksand', sans-serif;
	background-image: url(background6.jpg);
	-webkit-background-size:cover;
	background-size: cover;
	background-position: center center;
	background-repeat: no-repeat;
}

/** =========================================== **/
/** Navbar Start **/
/** =========================================== **/

#topnav{
	margin-top: 15px;
	background: rgba(47, 54, 64,0.5);
	height: 50px;
}

/** Navbar Page Logo **/
h1.logo{
	float: left;
	color: white;
	font-size: 40px;
	height: 50px;
	letter-spacing: 2.5px;
	font-family: 'Staatliches', cursive;
	padding: 0;
	margin: 0px 50px;
}

/** Navbar Page Logo Hover **/
h1.logo:hover{
	cursor: pointer;
}

/** Navbar Menu **/
.menu{
	float: left;
	height: 50px;
	margin: 0;
	padding: 0;
	list-style-type: none;
	font-size: 20px;
	font-family: 'Staatliches', cursive;
	letter-spacing: 1px;
}

/** Navbar Menu Items **/
.menu > li{
	display: inline-block;
	padding: 13px 10px 10px;
	margin: 0px 10px;
}

/** Navbar Text **/
.menu a{
	color:#fff;
	text-decoration: none;
}

/** Navbar Text Hover **/
.menu li:hover{
	color:white;
	background-color: rgba(47, 54, 64,0.5);
	border-bottom: 2px solid #8c7ae6;
	transition: 1.5s;
	border-radius: 8px;
}

/** Navbar Text Active - Html Class **/
.menu li.active {
    background: rgba(149, 165, 166, 0.2);
    border-bottom: 2px solid #8c7ae6;
    border-radius: 6px;
}

#zegarico{
	float: right;
	color: white;
	font-family: 'Staatliches', cursive;
	margin-right: 100px;
	width: 110px;
	height: 50px;
}

#zegarico i{
	float: left;
	color: white;
	font-size: 25px;
	margin: 12.5px 5px;
}

#zegar{
	float: left;
	font-size: 20px;
	margin: 12.5px 0px;
	letter-spacing: 2px;
	width: 75px;
	}


/** =========================================== **/
/** Showcase Start **/
/** =========================================== **/

/** Showcase **/
#showcase{
	width: 1800px;
	height: 560px;
	margin: 80px auto;
	color: white;
	text-align: center;
}

/** Showcase Logo **/
#showcase h1{
	color: white;
	font-size: 30px;
	font-family: 'Staatliches', cursive;
	letter-spacing: 2px;
	border-bottom: 2px solid #8c7ae6;
	width: 300px;
	margin: 5px auto;
	height: 48px;
}

/** Showcase box **/
.project{
	width: 560px;
	height: 400px;
	float: left;
	margin: 20px;
	background-color: rgba(53, 59, 72,0.3);
	border-radius: 25px;
	-webkit-box-shadow: 17px 35px 137px -40px rgba(44,44,84,1);
-moz-box-shadow: 17px 35px 137px -40px rgba(44,44,84,1);
box-shadow: 17px 35px 137px -40px rgba(44,44,84,1);
}

/** Showcase box padding**/
.pion{
	height: 30px;
	width: 10px;
}

/** Showcase box image **/
.projectimg{
	width: 140px;
	height: 140px;
	float:left;
	margin-left: 75px;
}

/** Showcase box image **/
.projectimg i{
	font-size: 90px;
	margin: 25px auto;
}

/** Showcase box image **/
.projectimg img{
	transition: 1.5s;
}

/** Showcase box image hover **/
.projectimg img:hover{
	transform: scale(1.1);
}

.projecthead{
	height: 110px;
	width: 250px;
	margin-right: 75px;
	padding:0px 10px;
	font-family: 'Staatliches', cursive;
	float: left;
	font-size: 30px;
	margin-top: 30px;
}

.projecthead p{
	margin: 0;
	height: 110px;
	text-align: center;
}


/** Showcase box text **/
.projecttxt{
	width: 230px;
	height: 150px;
	float: left;
	text-align: justify;
	font-size: 18px;
	padding:0px 5px 0px 40px;
}

.projectli{
	width: 260px;
	height: 150px;
	float: left;
	text-align: justify;
	font-size: 18px;
	padding:0px 20px 0px 5px;
}

.t3xt{
	margin: 0px;
	list-style-type: none;
	padding: 0px;
}

/** Project contact **/
.projectkontakt{
	float: left;
	width: 230px;
	height: 90px;
	font-size: 14px;
	padding:10px 0px 0px 50px;
}

/** Project contact button **/
.projectkontakt a{
	width: 240px;
	height: 110px;
	background-color: rgba(44, 62, 80,1);
	padding: 10px 30px;
	border-radius: 20px;
	color: white;
	transition: 2s;
}

/** Project setting **/
.projectkontakt a:link{
	text-decoration: none;
	color: white;
}

/** Project setting **/
.projectkontakt a:visited{
	text-decoration: none;
	color: white;
}

/** Project setting **/
.projectkontakt a:hover{
	cursor: pointer;
	border-bottom: 3px solid #8e44ad;
	padding: 10px 50px;
}


/** Showcase box button **/
.projectcennik{
	float: left;
	width: 230px;
	height: 90px;
	font-size: 14px;
	padding:10px 0px 0px 50px;
}

/** Project contact button **/
.projectcennik a{
	width: 240px;
	height: 110px;
	background-color: rgba(44, 62, 80,1);
	padding: 10px 40px;
	border-radius: 20px;
	color: white;
	transition: 2s;
}

/** Project setting **/
.projectcennik a:link{
	text-decoration: none;
	color: white;
}

/** Project setting **/
.projectcennik a:visited{
	text-decoration: none;
	color: white;
}

/** Project setting **/
.projectcennik a:hover{
	cursor: pointer;
	border-bottom: 3px solid #8e44ad;
	padding: 10px 60px;


}


/** =========================================== **/
/** Contact Start **/
/** =========================================== **/

/** Contact **/
#contact{
	width: 1050px;
	height: 138px;
	margin: 100px auto 20px auto;
}

/** Contact Logo **/
#contact h1{
	color: white;
	text-align: center;
	font-size: 30px;
	font-family: 'Staatliches', cursive;
	letter-spacing: 2px;
	border-bottom: 2px solid #8c7ae6;
	width: 130px;
	margin: 9px auto;
}

/** Contact box **/
.cbox{
	height: 80px;
	width: 310px;
	float: left;
	margin: 0px 20px;
	background-color: rgba(189, 195, 199,0.05);
	color: white;
	transition: 2s;
	border-radius: 15px;
}



/** Contact box hover **/
.cbox:hover{
	transform: scale(1.1);
	background-color: rgba(47, 54, 64,0.4);
	border-bottom: 2px solid #8c7ae6;
}

/** Contact Ico box **/
.ico3{
	height: 80px;
	width: 80px;
	float: left;
	font-size: 40px;
}

/** Contact Ico text **/
.ico3 i{
	padding-top: 20px;
	padding-left: 20px;
}

/** Contact Text box **/
.text3{
	width: 210px;
	height: 80px;
	float: left;
}

/** Contact Text **/
.text3 p{
	font-size: 14px;
	margin: 0;
}

/** Contact Box Main Text **/
.text3 h4{
	font-size: 22px;
	margin: 15px 0 0 0;
	font-family: 'Staatliches', cursive;
	letter-spacing: 2px;
}

/** =========================================== **/
/** Footer Start **/
/** =========================================== **/

/** Footer Box **/
#footer{
	text-align: center;
	color: white;
	font-size: 16px;
	background-color: rgba(189, 195, 199,0.02);
	font-family: 'Staatliches', cursive;
	letter-spacing: 1px;
}

/** Footer setting **/
#footer a:link{
	text-decoration: none;
	color: white;
}

/** Footer setting **/
#footer a:visited{
	text-decoration: none;
	color: white;
}

/** Footer setting **/
#footer a:hover{
	color: #8c7ae6;
	cursor: pointer;
}

